<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ 'aes.alerts.authfinished'|trans }}</title>
    <style type="text/css" media="screen">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }
        #container {
            max-width: 550px;
            margin: 0 auto;
        }
        .signin-heading {
        	color: #444;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
        }
    </style>
  </head>

  <body>
    <div id="container">
        <h1 class="signin-heading">{{ 'aes.alerts.authfinished'|trans }}</h1>
    </div>

    <script type="text/javascript">
    function getHashParams() {
        var hashParams = {};
        var e,a = /\+/g,r = /([^&;=]+)=?([^&;]*)/g,d = function (s) {
        	return decodeURIComponent(s.replace(a, " "));
        },
        q = window.location.hash.substring(1);

        while (e = r.exec(q))
        	hashParams[d(e[1])] = d(e[2]);
        return hashParams;
    }

    var hashParams = getHashParams();
    if (hashParams.access_token !== undefined) {
        if (!sessionStorage.getItem('token')) {
            sessionStorage.setItem('token', hashParams.access_token);
        }
    }
    </script>
  </body>
</html>