<div class="contentContainer">
    <div class="content">
        <h1 class="editable articleTitle">Some bla</h1>
        <div class="editable articleLead">
            <p>Publishing has always been driven by content and the ephemeral “reading experience.” Until recently, the industry has struggled to adapt this experience to the demands of consumers used to getting what they want, when they want, and how they want in the now decade-old digital millennium. A new breed of reading devices has improved the physical experience, and now the new EPUB 3 format is poised to lead a content revolution that will transform the reading experience beyond two dimensions.</p>
        </div>
        <div class="editable articleText">
                <h1>Attributions and Permissions</h1>
                
                <h2>This is Heading 2</h2>
<p>
What Is EPUB 3? discusses this exciting new format, which is set to unleash a content revolution in the publishing world, both for people who are curious what the hype is about and for pros looking to learn more about the new format. Laden with features the printed page could never offer—such as embedded multimedia and scripted interactivity—EPUB 3 will forever change what a book can be. This article walks you through the format and its place in the digital landscape, explaining why EPUB 3 is set to become the new global standard for ebooks as it also becomes the new accessible standard for ebooks.</p>
<h3>This is Heading 3</h3>
<p>This article is here to help you get your job done. If you reference limited parts of it in your work or writings, we appreciate, but do not require, attribution. An attribution usually includes the title, author, publisher, and ISBN: “What Is EPUB 3? by Matt Garrish (O’Reilly). Copyright 2011 O’Reilly Media, 978-1-449-31454-5.”</p>
<div class="page-break"><i class="icon-ellipsis-horizontal"></i></div>
<p>
What Is EPUB 3? discusses this exciting new format, which is set to unleash a content revolution in the publishing world, both for people who are curious what the hype is about and for pros looking to learn more about the new format. Laden with features the printed page could never offer—such as embedded multimedia and scripted interactivity—EPUB 3 will forever change what a book can be. This article walks you through the format and its place in the digital landscape, explaining why EPUB 3 is set to become the new global standard for ebooks as it also becomes the new accessible standard for ebooks.</p>
<h3>This is Heading 3</h3>
<p>This article is here to help you get your job done. If you reference limited parts of it in your work or writings, we appreciate, but do not require, attribution. An attribution usually includes the title, author, publisher, and ISBN: “What Is EPUB 3? by Matt Garrish (O’Reilly). Copyright 2011 O’Reilly Media, 978-1-449-31454-5.”</p>
        </div>
    </div>
</div>
