<!-- Tabs content -->
<div class="tablist left-tablist">
    <ul class="navigation-tabs">
        <li><a href="#" id="chapters-tab"><i class="big-icon-chapters"></i></a></li>
        <li><a href="#" id="online-users-tab"><i class="big-icon-online-users"></i></a></li>
        <li><a href="#" id="chat-tab"><i class="big-icon-chat"></i></a></li>
        <li><a href="#" id="style-tab"><i class="big-icon-style"></i></a></li>
    </ul>
</div>
<div class="tablist right-tablist">
    <ul class="navigation-tabs">
        <li><a href="#" id="attachments-tab"><i class="big-icon-attachments"></i></a></li>
        <li><a href="#" id="notes-tab"><i class="big-icon-notes"></i></a></li>
        <li><a href="#" id="history-tab"><i class="big-icon-history"></i></a></li>
    </ul>
</div>
<div id="left-tabpane" class="tabpane left-tabpane">
    <section class="tab-content" source_id="chapters-tab">
        <h3>Chapters</h3>
        <button href="#" role="button" class="btn btn-default btn-xs" id="" rel="tooltip" title="" data-placement="bottom" data-original-title="Expand Table of Contents">EXPAND TOC</button>
        <ul class="edit-toc">        
            <li>               
                <div><span class="section">What Is EPUB 3? </span> </div>                                       
            </li>
            <li>
                <div><span class="section">Preface</span> </div>                               
            </li>
            <li class="active">
                  <div><a href="#" title="1926">Attribution and Permissions</a></div>                                              
            </li>            
            <li>               
                  <div><a href="#" title="1927">Safari® Books Online</a></div>                                                 
            </li>            
            <li>               
                  <div><a href="#" title="1928">How to Contact Us</a></div>                                                 
            </li>            
            <li>               
                <div><span class="section">1. What Is EPUB 3?</span> </div>                                                 
            </li>            
            <li>               
                  <div><a href="#" title="1929">EPUB 3 in a Nutshell</a></div>                                                 
            </li>            
            <li>               
                  <div><a href="#" title="1930">The EPUB 3 Revision</a></div>                                                 
            </li>            
            <li>               
                  <div><a href="#" title="1931">EPUB and Web Standards</a></div>                                                 
            </li>            
            <li>               
                <div><span class="section">The Goodies</span> </div>                                                 
            </li>            
            <li>               
                  <div><a href="#" title="1932">Multimedia</a></div>                                                 
            </li>            
            <li>               
                  <div><a href="#" title="1933">The Arrival</a></div>                                                 
            </li>            
            <li>               
                  <div><a href="#" title="1934">About the Author</a></div>                                                 
            </li>            
        </ul>
    </section>
    <section class="tab-content" source_id="online-users-tab">
        <h3>Online Users</h3>
        <p>Online users content here</p>
    </section>
    <section class="tab-content" source_id="chat-tab">
        <h3>Chat</h3>
        <p>some chat here</p>        
    </section>
    <section class="tab-content" source_id="style-tab">
        <h3>Style</h3>
        <ol>
          <li><a href="#" data-style="style1">Style 1</a></li>
          <li><a href="#" data-style="style2">Style 2</a></li>
          <li><a href="#" data-style="style3">Style 3</a></li>
        </ol>
    </section>
</div>

<div id="right-tabpane" class="tabpane right-tabpane">
    <section class="tab-content" source_id="attachments-tab">
        <h3>Attachments</h3>
    </section>
    <section class="tab-content" source_id="notes-tab">
        <h3>Notes</h3>
    </section>
    <section class="tab-content" source_id="history-tab">
        <h3>History</h3>
    </section>    
</div>
