<div class="btn-toolbar float-right">
      <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" data-toggle="button" class="btn btn-default active" title="" id="button-cover" data-original-title="Cover Manager">Content</button>
        <button type="button" data-toggle="button" class="btn btn-default" title="" id="button-toc">Meta Information</button>
      </div>
      <div class="btn-group">            
      <button type="button" class="btn btn-primary" id="button-publish" title="">Publish</button> 
      </div>
      </div>
</div>

<div class="contentHeader">
      <!-- ovoooooo -->
      <div class="templateAlohaToolbar">
   
<div class="edit-menu float-left">
  <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">Insert</button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">Edit</button>
          <ul class="dropdown-menu">
            <li><a class="action undo" href="#"><i class="icon-undo"></i>Undo</a></li>
            <li><a class="action redo" href="#"><i class="icon-repeat"></i>Redo</a></li>
            <li class="divider"></li>
            <li><a class="action font" href="#"><i class="icon-font"></i>Font</a></li>
            <li><a class="action color" href="#"><i class="icon-tint"></i>Color</a></li>
            <li class="divider"></li>
          </ul>
        </div>
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">Tools</button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
          </ul>
        </div>
  </div>
</div>

<div class="btn-toolbar float-left">
  <div class="btn-group">
    <button type="button" class="btn btn-default btn-sm action undo" id="button-undo" rel="tooltip" data-placement="bottom" data-original-title="Undo"><i class="icon-undo"></i></button>
  </div> 

  <div class="btn-group headings">
    <button class="btn btn-default btn-sm currentHeading" title="Text Heading" rel="tooltip" data-placement="bottom" data-original-title="Text Heading">Heading</button>
    <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" rel="tooltip"><span class="caret"></span></button>
      <ul class="dropdown-menu">
          <li><a href="#" class="action changeHeading" data-tagname="p" data-placement="bottom">Normal Text</a></li>
          <li><a href="#" class="action changeHeading" data-tagname="h1" data-placement="bottom">Heading</a></li>
          <li><a href="#" class="action changeHeading" data-tagname="h2" data-placement="bottom">Subheading</a></li>
          <li><a href="#" class="action changeHeading" data-tagname="h3" data-placement="bottom">SubSubHeading</a></li>
          <li><a href="#" class="action changeHeading" data-tagname="pre" data-placement="bottom">Preformated</a></li>
      </ul>
  </div>

  <div class="btn-group">
      <button class="btn btn-default btn-sm action aloha-dialog font" rel="tooltip" data-placement="bottom" data-original-title="Font"><i class="icon-font"></i></button>
      <button class="btn btn-default btn-sm action aloha-dialog color" rel="tooltip" data-placement="bottom" data-original-title="Color"><i class="icon-tint"></i></button>      
  </div>

  <div class="btn-group">
      <button id="expand" class="btn btn-default btn-sm action aloha-dialog strong" rel="tooltip" data-placement="bottom" data-original-title="Bold"><i class="icon-bold"></i></button>
      <button id="collapse" class="btn btn-default btn-sm action aloha-dialog emphasis" rel="tooltip" data-placement="bottom" data-original-title="Italic"><i class="icon-italic"></i></button>   
      <button id="collapse" class="btn btn-default btn-sm action aloha-dialog underline" rel="tooltip" data-placement="bottom" data-original-title="Underline"><i class="icon-underline"></i></button>
  </div>

  <div class="btn-group">
    <button class="btn btn-default btn-sm action aloha-dialog insertLink" rel="tooltip" title="" data-placement="bottom" data-original-title="Insert Link" data-toggle="modal" href="#newLink">
      <i class="icon-link"></i>
    </button>
    <button class="btn btn-default btn-sm action aloha-dialog insertImage" rel="tooltip" title="" data-placement="bottom" data-original-title="Insert Figure" data-toggle="modal" href="#imageManager"><i class="icon-picture"></i></button>
    <button class="btn btn-default btn-sm action aloha-dialog insertPageBreak" rel="tooltip" title="" data-placement="bottom" data-original-title="Insert Page Break" href="#"><i class="icon-ellipsis-horizontal"></i></button>
  </div>            


  <div class="btn-group">
    <button class="btn btn-default btn-sm action aloha-dialog alignLeft active" rel="tooltip" title="" data-placement="bottom" data-original-title="Unordered List"><i class="icon-align-left"></i></button>
    <button class="btn btn-default btn-sm action aloha-dialog alignCenter" rel="tooltip" title="" data-placement="bottom" data-original-title="Ordered List"><i class="icon-align-center"></i></button>
    <button class="btn btn-default btn-sm action aloha-dialog alignRight" rel="tooltip" title="" data-placement="bottom" data-original-title="Indent List"><i class="icon-align-right"></i></button>
    <button class="btn btn-default btn-sm action aloha-dialog alignJustify" rel="tooltip" title="" data-placement="bottom" data-original-title="Outdent List"><i class="icon-align-justify"></i></button>
  </div>


  <div class="btn-group">
    <button class="btn btn-default btn-sm action aloha-dialog unorderedList" rel="tooltip" title="" data-placement="bottom" data-original-title="Unordered List"><i class="icon-list-ul"></i></button>
    <button class="btn btn-default btn-sm action aloha-dialog orderedList" rel="tooltip" title="" data-placement="bottom" data-original-title="Ordered List"><i class="icon-list-ol"></i></button>
  </div>
</div>  <!-- end btn-toolbar -->

<div class="btn-toolbar float-right">
    <span class="info-message"></span>
    <button href="#save" role="button" class="btn btn-success" data-toggle="modal" id="button-save" rel="tooltip" title="" data-placement="bottom" data-original-title="Save chapter">SAVE</button>
    <button href="#cancel" role="button" class="btn btn-default" data-toggle="modal" id="button-cancel" rel="tooltip" title="" data-placement="bottom" data-original-title="Cancel editing">Close</button>
</div> 
</div>